@font-face {
  font-family: 'Tiempos';
  font-weight: 600;
  src: url('../fonts/TiemposTextWeb-Semibold.woff') format('woff'),
       url('../fonts/TiemposTextWeb-Semibold.eot') format('embedded-opentype'),
       url('../fonts/TiemposTextWeb-Semibold.ttf') format('truetype');
}
