// z-indices
$z-project-card__shadow:         -1;
$z-project-card__image-link:      5;
$z-project-card__image-overlay:  10;
$z-project-card__field:          15;
$z-main:                         20;
$z-dropdown:                     25;
